.card {
  background-color: #687c8e;
  border: 1px solid #414141;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}

.card h3 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card li {
  display: flex;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.dark-mode {
  background-color: #1b1f29;
  border: 1px solid #161b2a;
}

