button {
    padding: 10px 20px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
}
  
